body {
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(77,76,76);
	position: relative;
    top: 10px;

}

#container {
	margin: 0 auto 10px auto;
    width: 620px;
    border: 1px solid rgb(77,76,76);

}

/* ////////////////////////////////// */
#cabecalho {
	width: 600px;
	height: 100px;
	margin: 0 auto;
	line-height: 100px;
}
#left {
	float: left;
	margin-left: 20px;
}

#right {
	float: right;
	margin-right: 20px;
}
#right span {
	margin-left: 5px;
	position: relative;
	top: -6px;
}
#right span a {
	text-decoration: none;
	color: rgb(77,76,76);
}	

/* *********************************** */
#principal {
	margin-left: 10px;
	margin-right: 10px;
}
#principal p {
	font-size: 18px;
	font-weight: bold;
	text-align: justify;
	padding: 25px 0px;
}
#principal a {
	padding: 10px 15px;
	background: rgb(13, 152, 190);
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	border-radius: 50px;
}
#principal span img {
	margin-top: 30px;
}
/* *********************************** */
#menu ul {
	margin-left: -30px;
	margin-top: -3px;
}
#menu ul li {
	display: inline;
	
}
#menu ul li a{
	color: rgb(13,152,190);
	font-size: 13px;
	font-weight: bold;
}
#menu ul li a:hover {
	color: rgb(13,90,190);
}
/* *********************************** */
#footer p {
	font-size: 13px;
	margin-left: 10px;
}
#footer a {
	color: rgb(13,152,190);
	font-weight: bold;
}
#footer a:hover {
	color: rgb(13,90,190);
}